In [91]:
import pandas as pd
import numpy as np
from IPython.display import HTML

# Lecture 02

In [92]:
n = 4

In [93]:
data = ['value_{}'.format(i) for i in range(n)]
index = ['index_{}'.format(i) for i in range(n)]
pd.Series(data, index= index)

index_0    value_0
index_1    value_1
index_2    value_2
index_3    value_3
dtype: object

In [94]:
columns = ['column_{}'.format(i) for i in range(n)]
data = np.array([['value_{}{}'.format(j,i) for i in range(n)] for j in range(n)])

df = pd.DataFrame(data, columns=columns, index=index)
df

         column_0  column_1  column_2  column_3
index_0  value_00  value_01  value_02  value_03
index_1  value_10  value_11  value_12  value_13
index_2  value_20  value_21  value_22  value_23
index_3  value_30  value_31  value_32  value_33

In [95]:
disp = []
dfs = {}
for k in range(3):
    columns = ['minor_{}'.format(i) for i in range(n)]
    index = ['major_{}'.format(i) for i in range(n)]
    data = np.array([['value_{}{}{}'.format(k,j,i) for i in range(n)] for j in range(n)])
    df = pd.DataFrame(data, columns=columns, index=index)
    dfs['item_{}'.format(k)]=df.copy()
    
    df.columns.name = 'item_{}'.format(k)
    
    disp.append(df.to_html())
    
HTML('\n'.join(disp))

In [96]:
p = pd.Panel(dfs)

In [98]:

p.to_frame()

                    item_0     item_1     item_2
major   minor
major_0 minor_0  value_000  value_100  value_200
        minor_1  value_001  value_101  value_201
        minor_2  value_002  value_102  value_202
        minor_3  value_003  value_103  value_203
major_1 minor_0  value_010  value_110  value_210
        minor_1  value_011  value_111  value_211
        minor_2  value_012  value_112  value_212
        minor_3  value_013  value_113  value_213
major_2 minor_0  value_020  value_120  value_220
        minor_1  value_021  value_121  value_221
        minor_2  value_022  value_122  value_222
        minor_3  value_023  value_123  value_223
major_3 minor_0  value_030  value_130  value_230
        minor_1  value_031  value_131  value_231
        minor_2  value_032  value_132  value_232
        minor_3  value_033  value_133  value_233

In [79]:
pa = pd.Panel({'it1' :np.array([[1,2,2]]), 'it2':np.array([['a','b','c']])})

In [81]:
pa.to_frame()

             it1 it2
major minor
0     0        1   a
      1        2   b
      2        2   c

In [88]:
pa = pd.Panel({'it1' :pd.DataFrame([['a',1],['b',2]], columns=['col1','col2']),
 'it2' :pd.DataFrame([['a',True],['b',False]], columns=['col1','col2'])})

In [89]:
pa.dtypes

it1    object
it2    object
dtype: object