In [1]:
import pandas as pd
import numpy as np
from IPython.display import HTML


def file(path, lines):
    with open(path, 'w') as f:
        f.write(lines)
    for line in lines.split("\n"):
        print(line)

# 3 - Reading and writing data

## Outline

Goal: *Provide an overview of the pandas methods for reading in and writing out data.*

Key topics:

- IO tools overview
- CSV & Text files
- Excel files
- Databases
- Big data integration

## IO tools overview

A set of `reader` and `writer` functions that work with DataFrames:

<table style="border-collapse:collapse;border-spacing:0"><tr><th style="font-family:Arial, sans-serif;font-size:18px;font-weight:bold;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">reader</th><th style="font-family:Arial, sans-serif;font-size:18px;font-weight:bold;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">writer</th><th style="font-family:Arial, sans-serif;font-size:18px;font-weight:bold;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">data type</th></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_csv(…)` <br>`pd.read_table(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_csv(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">flat files</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_excel(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_excel(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">excel table</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_hdf(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_hdf(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">HDF5 store</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_sql(…)` <br>`pd.read_sql_table(…)` <br>`pd.read_sql_query(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_sql(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">SQL database</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_json(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_json(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">JSON data</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_html(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_html(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">HTML data</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_stata(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_stata(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">STATA file</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_sas(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_sas(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">SAS file</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_clipboard(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_clipboard(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">clipboard text</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`pd.read_pickle(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">`obj.to_pickle(…)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal">pickled pandas object</td></tr></table>

## CSV & Text files

What are flat text files?

- in plain text in specific character set, e.g. ASCII or UTF-8
- consists of records (typically one per line)
- records are divided into fields by delimiters (typically a singe character)
- every record has the same sequence of fields
- may start with header denoting the field names

### Reading in text data
Reading of text files is done using the `pd.read_csv()` method.

It is important to note that:

- the method is suited for parsing all kinds flat text files (not only csv)
- contains a lot of intelligent functionality (use `pd.read_csv?`)
- data is stored in-memory, so make sure the input file is not too large

A lot of functionality:

```python
pd.read_csv(filepath_or_buffer, sep=',', 
            dialect=None, compression='infer', 
            doublequote=True, escapechar=None, 
            quotechar='"', quoting=0, 
            skipinitialspace=False, 
            lineterminator=None, header='infer', 
            index_col=None, names=None, 
            prefix=None, skiprows=None, 
            skipfooter=None, skip_footer=0, 
            na_values=None, true_values=None, ...)
```

By default tries to “do the right thing” and does a good job in 95% of the cases!

Let's go over some of the functionality.

#### Reading from different sources

```
filepath_or_buffer : string or file handle / 
    StringIO
    The string could be a URL such as http://, 
    ftp://, s3://, and file://.
```

Read from disk:

In [2]:
file('data/test_csv.csv', "a,b,c\n1,2,3\n3,4,5\n")

a,b,c
1,2,3
3,4,5

In [3]:
pd.read_csv('data/test_csv.csv')

   a  b  c
0  1  2  3
1  3  4  5

#### Column delimeter

```
sep : Separator, default ','
    If None, will try to automatically determine
    this. 
    Regular expressions are accepted.
```

Load a tab-separated file (.tsv):

In [4]:
file('data/test_tab.tsv', 'a\tb\tc\n1\t2\t3\n3\t4\t5')

a	b	c
1	2	3
3	4	5

In [5]:
pd.read_csv('data/test_tab.tsv', sep='\t')

   a  b  c
0  1  2  3
1  3  4  5

#### Quoted items

```
quotechar : A single character, default '"'
    The character used to denote the start and 
    end of a quoted item.
```

Parsing single quoted items:

In [8]:
file('data/test_single.csv', """text,id\n'hello, "Bob", nice to see you',5""")

text,id
'hello, "Bob", nice to see you',5

In [13]:
pd.read_csv('data/test_single.csv', quotechar="'")

                            text  id
0  hello, "Bob", nice to see you   5

#### Specifying data types

```
dtype : Type name or dict of column -> 
    type combinations
    Data type for all data or columns, 
    e.g. {'a': np.float64, 'b': np.int32}.
```


The default type inference does a decent job:

In [16]:
file('data/test_type.csv', 'a,b,c\nfoo,1,true\nbar,2,false\nfoobar,3,false')

a,b,c
foo,1,true
bar,2,false
foobar,3,false

In [17]:
df = pd.read_csv('data/test_type.csv')
print(df.dtypes)
df

a    object
b     int64
c      bool
dtype: object

        a  b      c
0     foo  1   True
1     bar  2  False
2  foobar  3  False

Specify dtype for specific column(s):

In [18]:
df = pd.read_csv('data/test_type.csv', dtype={'b': float})
print(df.dtypes)
df

a     object
b    float64
c       bool
dtype: object

        a    b      c
0     foo  1.0   True
1     bar  2.0  False
2  foobar  3.0  False

#### Column naming
```
header : int, list of ints
    Row number(s) to use as the column names, and 
    the start of the data.  Defaults to 0 if 
    no ``names`` passed, otherwise ``None``.
```
```
names : array-like
    List of column names to use. If file contains 
    no header row, then you should explicitly 
    pass header=None.
```

If the first line is not the header:

In [19]:
file('data/test_skip.csv', '---skip this line---\na,b,c\n1,2,3\n4,5,6')

---skip this line---
a,b,c
1,2,3
4,5,6

In [20]:
pd.read_csv('data/test_skip.csv', header=1)

   a  b  c
0  1  2  3
1  4  5  6

In [21]:
pd.read_csv('data/test_skip.csv', skiprows=1)

   a  b  c
0  1  2  3
1  4  5  6

Naming columns if no header is present:

In [22]:
file('data/test_no_header.csv', '1,2,3\n4,5,6')

1,2,3
4,5,6

In [23]:
pd.read_csv('data/test_no_header.csv', names=['col1', 'col2', 'col3'])

   col1  col2  col3
0     1     2     3
1     4     5     6

Replacing header with a different set of names:

In [24]:
file('data/test.csv', 'a,b,c\n1,2,3\n4,5,6')

a,b,c
1,2,3
4,5,6

In [25]:
pd.read_csv('data/test.csv', names=['col1', 'col2', 'col3'], 
            header=0)

   col1  col2  col3
0     1     2     3
1     4     5     6

#### Specifying index column(s)
```
index_col : int or sequence or False, default None
    Column to use as the row labels of the 
    DataFrame.
```

Specifying a single index column:

In [27]:
file('data/test_index.csv', 'date,A,B,C\n20090101,a,1,2\n20090102,b,3,4')

date,A,B,C
20090101,a,1,2
20090102,b,3,4

In [28]:
pd.read_csv('data/test_index.csv', index_col=0)

          A  B  C
date
20090101  a  1  2
20090102  b  3  4

Specifying a multi-column index:

In [33]:
file('data/test_index.csv', 'date,A,B,C\n20090101,a,1,2\n20090102,b,3,4')

date,A,B,C
20090101,a,1,2
20090102,b,3,4

In [34]:
pd.read_csv('data/test_index.csv', index_col=['date', 'A'])

            B  C
date     A
20090101 a  1  2
20090102 b  3  4

### Writing out to text

Writing out to text files is done with `obj.to_csv()`:

```python
obj.to_csv(path_or_buf=None, sep=',', na_rep='', 
           float_format=None, columns=None, 
           header=True, index=True, 
           index_label=None, mode='w', 
           encoding=None, compression=None, 
           quoting=None, quotechar='"', 
           line_terminator='\n', chunksize=None, 
           tupleize_cols=False, date_format=None, 
           doublequote=True, escapechar=None, 
           decimal='.', **kwds)
```

```python
df.to_csv('path_to_file.csv', ...)
se.to_csv('path_to_file.csv', ...)
```

Semantics of this method are very similar to `pd.read_csv()`.

Note that one can also write the output to a formatted string with `obj.to_string()`.

## Excel files

Pandas is capable of reading and writing excel files, which is ideal for automating laborious repetitive reporting tasks!

Formats that are supported:
- Excel 2003 (`.xls`) 
- Excel 2007+ (`.xlsx`)

### Reading in excel data

Excel files can be read in with the pd.read_excel() method:

```python
pd.read_excel(io, sheetname=0, header=0, 
              skiprows=None, skip_footer=0, 
              index_col=None, parse_cols=None,
              parse_dates=False, date_parser=None, 
              na_values=None, thousands=None, 
              convert_float=True, 
              has_index_names=None, 
              converters=None, engine=None, **kwds)
```

Semantics are similar to working with csv data.

### Writing  out to Excel

Writing out to Excel files is done with `obj.to_excel()` instance method.

File extension determine engine used for writing the data:
- `xlsx` : `xlsxwriter` (if available) or `openpyxl`
- `xls` : `xlwt`

### Databases

Data often has to be read from databases. Also, after wrangling one might want write the result back into a database.

Pandas provides a collection of query wrappers for interacting with databases:
<table style="border-collapse:collapse;border-spacing:0"><tr><th style="font-family:Arial, sans-serif;font-size:18px;font-weight:bold;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">method</th><th style="font-family:Arial, sans-serif;font-size:18px;font-weight:bold;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">description</th></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`pd.read_sql_table(table_name, con, …)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">Read SQL database table into a DataFrame.</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`pd.read_sql_query(sql, con, …)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">Read SQL query result into a DataFrame.</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`pd.read_sql(sql, con, …)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">Read SQL query result  or database table into a DataFrame.</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`obj.to_sql(table_name, con, …)`</td><td style="font-family:Arial, sans-serif;font-size:18px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">Write records stored in a DataFrame or Series to a SQL database.</td></tr></table>

These methods allow interaction with a.o. SQlite, MySql, PostgreSQL, Oracle, or MSSQL databases.

### Database connection

There a two ways to connect with the database:

- using the SQLAlchemy engine (optional dependency of pandas):
```python
from sqlalchemy import create_engine
engine = create_engine('dialect+driver://username:password@host:port/database')
df = pd.read_sql_table('table', engine)
```

- using database adapter that is compliant with PEP 0249 - Python DB-API V2:
```python
import sqlite3
con = sqlite3.connect('example.db')
df = pd.read_sql_query("SELECT * FROM data", con)
```

If possible, I recommended to use the SQLAlchemy approach as it provides more functionality.

Examples to create an engine object from database URI:

```python
engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')
engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')
engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')
engine = create_engine('mssql+pyodbc://mydsn')

# sqlite://<nohostname>/<path>
engine = create_engine('sqlite:///foo.db') 
engine = create_engine('sqlite:////absolute/path/to/foo.db')
engine = create_engine('sqlite:///:memory:') # in memory 
```

#### Chunking

```
chunksize : int, default None
    If specified, return an iterator where `chunksize` is the number of
    rows to include in each chunk.
```

Get the result of query in chunks:

In [38]:
from faker import Factory
from sqlalchemy import create_engine

def generate_fake_data(nrows, fake_items):
    data = pd.DataFrame(index=range(nrows), columns=fake_items)
    for item in fake_items:
        data.loc[:,item] = [getattr(faker, item)() for row in range(nrows)]
    return data

engine = create_engine('sqlite:///:memory:')
faker = Factory.create()
fake_data = generate_fake_data(50, ['prefix', 'name','city','date'])
fake_data.to_sql('customers', con=engine, index=False, if_exists='replace')

In [40]:
chunks = pd.read_sql_query('SELECT * FROM customers LIMIT 9', 
                           engine, chunksize=3)
for chunk in chunks:
    print(chunk, '\n')

  prefix                name              city        date
0    Dr.     Albert Mcdonald  Lake Williamtown  1976-07-19
1    Mr.        Mary Robbins    East Robinstad  1980-02-27
2    Dr.  Jennifer Armstrong      West Randall  1991-03-19

  prefix            name              city        date
0    Ms.  Steven Meadows         New Tyler  2016-01-28
1    Mr.  Valerie Booker   East Hannahberg  2007-09-24
2   Mrs.     Robert Mora  East Josephburgh  1973-11-21

  prefix            name           city        date
0   Mrs.  Kelly Anderson     Changville  2006-08-26
1    Mr.   Amanda Greene   Michaelmouth  1996-06-23
2    Dr.      John Stout  Alexandertown  2001-09-16

Note that chunking is:
- extemely usefull if your data is too large to fit in memory all at once
- also present in the `pd.read_csv()`, `pd.read_sas()` and `pd.read_stata()` methods

## Big data integration

Pandas integrates very well with several big data tools; allowing easy 'sharing' of data:

- **Apache Spark**: PySpark allows easy conversion between pandas and spark Dataframes via
   - `df = sdf.toPandas()`
   - `sdf = sqlContext.createDataFrame(df)`

## Exercises: [lab 3 - Reading and writing data](lab_03_reading_and_writing_data.ipynb)