<span class="image"><table><tr>
<img src="images/pandas-logo.png" style="float: left; height: 48px;">
<h1 style="text-align: center;">Lab 4 - Accessing the data</h1>
</tr></table></span>

In [ ]:
import pandas as pd
import numpy as np

## Exercise goals:

- practice accessing the data using different indexing methods
- apply some boolean filtering to select subsets of data

---

In this lab we will consider a dataset taken from the [PyCon tutorial of Brandon Rhodes](https://github.com/brandon-rhodes/pycon-pandas-tutorial). The data set contains data taken from [IMDB](http://www.imdb.com/).

## Exercise 1 : IMBD data

Start with reading in the `imdb/titles.csv` file from the `data/` folder:

In [ ]:
titles = <FILL IN>

Take a quick peak at the data, is the data ordered?

In [ ]:
<FILL IN>

How many rows of data do we have?

In [ ]:
n_rows = <FILL IN>
n_rows

Any null values in either of the columns?

In [ ]:
<FILL IN>

How many unique titles does the data have?

In [ ]:
nunique = <FILL IN>
nunique

How many titles have only a single entry in the data? (hint: check the arguments for `.duplicated()` method or use the `value_counts()` method)

In [ ]:
ntruly_unique = <FILL IN> 
ntruly_unique

Use two different methods to select all rows with the title 'Hamlet' and 'Macbeth':

In [ ]:
# first method
df1 = <FILL IN>
# second method
df2 = <FILL IN>

print("Ok? {}".format(df1.equals(df2)))
df1.head()

How many Hamlet and Macbeth movies are present in the data?

In [ ]:
<FILL IN>

Use two different methods to count all movies from the 80s :

In [ ]:
# first method
val1 = <FILL IN>
# second method
val2 = <FILL IN>

print("Ok? {}".format(val1==val2))
val1

Starting from the year 2000, how many distinct movies begin with the letter 's' or 'S'? (Hint: use the string methods under `.str.`!)

In [ ]:
<FILL IN>