<span class="image"><table><tr>
<img src="images/pandas-logo.png" style="float: left; height: 48px;">
<img src="images/GoDataDriven.png" style="float: right;height: 48px;">
<h1 style="text-align: center;">Lab 2 - Data Stuctures</h1>
</tr></table></span>

In [ ]:
import pandas as pd
import numpy as np

## Exercise goals:

- get some basic experience with the different pandas data structures
- get more familiar with different pandas data types

---
## Exercise 1: Countries

In this data set we are going to play around with a small dataset, just to get a better feeling for the DataFrame, Series and Index data-structures.

We will use the following country data:

In [2]:
country_data = {'COUNTRY': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
                'AREA': [30510, 671308, 357050, 41526, 244820],
                'CAPITAL': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}

Fill-out the code below to create a DataFrame from the country data:

In [ ]:
countries = <FILL IN>
countries

I kind of dislike that the columns are now all in uppercase, let's fix that.

Fill-out the code below to get a list with all columns in lowercase:

In [ ]:
cols_lower = <FILL IN>
print(cols_lower)

now use `cols_lower` to modify the countries data frame:

In [ ]:
countries.columns = <FILL IN>
countries

Below is a list with the country codes:

In [ ]:
country_codes = ['FR', 'BE', 'DE', 'NL', 'UK']

Fill out the code below to check if the length of this list matches the number of rows of the DataFrame:

In [ ]:
n_rows, n_cols = <FILL IN>

In [ ]:
print("The length country_codes matches n_rows? {}".format(len(country_codes) == n_rows))

Set the country codes as index of the countries DataFrame:

In [ ]:
countries.index = <FILL IN>
countries

Use the `obj.sort_index()` to order the data frame alphabetically by its index:

In [ ]:
countries = <FILL IN>
countries

Create a Series from the population data below:

In [5]:
population_data = {'BE': 11.3, 'NL': 16.9, 'UK': 64.9, 'DE': 81.3}
population = <FILL IN>
population

BE    11.3
NL    16.9
UK    64.9
DE    81.3
dtype: float64

Use the `df.index.difference(...)` method to figure out which for which country the population data is missing:

In [8]:
missing_index = <FILL IN>
missing_index

AttributeError: 'dict' object has no attribute 'index'

Set the population value for the missing country to 64.3:

In [ ]:
<FILL IN>

In [ ]:
print("Is 'FR' present in population index? {}".format('FR' in population.index))

Execute the cell below to see if the order of the population index is the same as the countries index:

In [ ]:
print(population.index == countries.index)
print(population.index)
print(countries.index)

The ordering is not these same. Run the cells below and to see if this a problem when doing some arithmetic:

In [ ]:
density = population * 1000 / countries['area']

In [ ]:
population_sorted = population.sort_index()
density_sorted = population_sorted * 1000 / countries['area']

Check that `density` and `density_sorted` are the same:

In [ ]:
<FILL IN> # ANSWER

Why was it not a problem that the ordering of `population` and `countries` are not the same, even though we divide one upon the other?

**Answer**: ...

Finally, add the population and computed density as columns to the countries DataFrame:

In [ ]:
<FILL IN>
countries

---
## Exercise 2 - Data types

In this exercise we are going to have a bit more detailed look at the pandas data types.

Let's first revisit our create countries DataFrame. Use one of the DataFrame attributes to print the dtypes:

In [ ]:
countries.<FILL IN>

What kind of data will get the type `object`?

**Answer** ...

Let's do some recasting of different columns.

Use the method `obj.astype()` to cast the column `area` to `float`:

In [ ]:
<FILL IN>
countries['area']

Recast the area column again, but now to `str` (=string):

In [ ]:
<FILL IN>
countries['area']

In [ ]:
type(countries['area'].values[0])

In [ ]:
countries['area'].values[0]

Finally, let's cast population to `int`:

In [ ]:
<FILL IN>

Was the data rounded or floored?

**Answer**: ...

What is the data types of the series below?

In [ ]:
s = countries['population'] > 30

**Answer**: ...

We have now seen several data types, below is an overview of all main data types:

<table style="border-collapse:collapse;border-spacing:0"><tr><th style="font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">pandas Type</th><th style="font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center;vertical-align:top">native python type</th><th style="font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">description</th></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`object`</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center;vertical-align:top">string</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">general dtype used for string or mixed types</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`int64`</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center;vertical-align:top">int</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">numeric characters, cannot contain NaNs</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`float64`</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center;vertical-align:top">float</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">numeric characters with decimals, can contain NaNs</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`bool`</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center;vertical-align:top">bool</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">truth value; True or False</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`datetime64[ns]`</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center;vertical-align:top">N/A</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">datetime stamp</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`timedelta[ns]`</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center;vertical-align:top">N/A</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">time duration</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">`category`</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;text-align:center;vertical-align:top">N/A</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;vertical-align:top">categorical variable</td></tr></table>